<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
    rel="stylesheet">

  <!-- boxicons -->
  <link rel="stylesheet" href="../assets/plugin/boxicons/css/boxicons.css">

  <!-- local css -->
  <link rel="stylesheet" href="../assets/css/navbar.css">
  <link rel="stylesheet" href="../assets/css/blog.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
  <title>CyberID | Blog</title>
</head>

<body>
  <!-- Navbar -->
  <header>
    <div class="inner-width">
      <a href="../index.html" class="logo">
        <img src="../assets/images/logo.png" alt="">
      </a>
      <i class='menu-toggle-btn bx bx-menu'></i>
      <nav class="navigation-menu">
        <ul class="nav-left">
          <li><a href="../index.html">Beranda</a></li>
          <li><a href="">Diskusi</a></li>
          <li><a href="">Challenge</a></li>
          <li class="dropdown dropdown-toggle">
            <a href="" class="purple-light">Info <i class='bx bxs-down-arrow icon-dropdown'></i></a>
            <ul class="dropdown-content">
              <li><a href="#">Blog</a></li>
              <li><a href="event.html">Event</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav-right">
          <li class="user flex">
            <p>Muhammad Faisal H</p>
            <img src="../assets/images/nav-user.png" width="35" alt="">
            <div class="menu-user">
              <div class="left-user-menu">
                <ul>
                  <li><i class='bx bxs-user-circle'></i></li>
                  <li><i class='bx bxs-flag-alt'></i></li>
                  <li><i class='bx bxs-bookmarks'></i></li>
                  <li><i class="bx bxs-cog"></i></li>
                  <li><i class="bx bx-log-out"></i></li>
                </ul>
              </div>

              <div class="right-user-menu">
                <ul>
                  <li><a href="">Profile</a></li>
                  <li><a href="">My Challenge</a></li>
                  <li><a href="">My Info</a></li>
                  <li><a href="">Setting</a></li>
                  <li><a href="../index.html">Logout</a></li>
                </ul>
              </div>
            </div>

          </li>
        </ul>
      </nav>

    </div>
  </header>
  <!-- End Navbar -->

  <main>
    <section id="jumbotron">
      <div class="container">
        <i class="bx bx-news"></i>
        <h1>Blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper sit sit duis at non porta. Nulla magna
          enim
          interdum pellentesque praesent id turpis.</p>
      </div>
    </section>
    <div class="wave">
      <div class="wave1">
        <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
          class="transition duration-300 ease-in-out delay-150">
          <path
            d="M 0,400 C 0,400 0,200 0,200 C 162.64285714285717,197.60714285714286 325.28571428571433,195.21428571428572 427,186 C 528.7142857142857,176.78571428571428 569.4999999999999,160.75 676,171 C 782.5000000000001,181.25 954.7142857142858,217.78571428571428 1093,227 C 1231.2857142857142,236.21428571428572 1335.642857142857,218.10714285714286 1440,200 C 1440,200 1440,400 1440,400 Z"
            stroke="none" stroke-width="0" fill="#4E148C" class="transition-all duration-300 ease-in-out delay-150">
          </path>
      </div>
      <div class="wave2">
        <svg height="100%" width="100%" id="svg" viewBox="0 0 1440 400" xmlns="http://www.w3.org/2000/svg"
          class="transition duration-300 ease-in-out delay-150">
          <path
            d="M 0,400 C 0,400 0,200 0,200 C 162.64285714285717,197.60714285714286 325.28571428571433,195.21428571428572 427,186 C 528.7142857142857,176.78571428571428 569.4999999999999,160.75 676,171 C 782.5000000000001,181.25 954.7142857142858,217.78571428571428 1093,227 C 1231.2857142857142,236.21428571428572 1335.642857142857,218.10714285714286 1440,200 C 1440,200 1440,400 1440,400 Z"
            stroke="none" stroke-width="0" fill="#291e41ff" class="transition-all duration-300 ease-in-out delay-150">
          </path>
        </svg>
        </svg>
      </div>
    </div>

    <section id="blog">
      <div class="search container">
        <form action="">
          <input type="text" placeholder="Temukan yang ingin anda cari">
          <button type="submit"><i class='bx bx-search'></i></button>
        </form>
      </div>
      <div class="blog-content flex">
        <div class="content">
          <div class="card-content flex">
            <div class="text-blog">
              <div class="header-card flex">
                <div class="author flex">
                  <img src="../assets/images/blog/author.png" alt="" width="30px">
                  <h5> Hamba Allah</h5>
                </div>
                <p>24 <i class="bx bxs-show"></i></p>
              </div>
              <div class="title-card">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              </div>
              <div class="footer-card flex">
                <div class="left-footer-card flex">
                  <p>20 Agt 2021</p>
                  <p class="tag-card">Lomba</p>
                </div>
                <div class="icon-card">
                  <i class="bx bxs-share-alt"></i>
                  <i class="bx bx-bookmark"></i>
                </div>
              </div>
            </div>
            <img src="../assets/images/blog/blog1.png" class="img-blog" alt="">
          </div>

          <div class="card-content flex">
            <div class="text-blog">
              <div class="header-card flex">
                <div class="author flex">
                  <img src="../assets/images/blog/author.png" alt="" width="30px">
                  <h5> Hamba Allah</h5>
                </div>
                <p>24 <i class="bx bxs-show"></i></p>
              </div>
              <div class="title-card">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              </div>
              <div class="footer-card flex">
                <div class="left-footer-card flex">
                  <p>16 Agt 2021</p>
                  <p class="tag-card">Web Hacking</p>
                </div>
                <div class="icon-card">
                  <i class="bx bxs-share-alt"></i>
                  <i class="bx bx-bookmark"></i>
                </div>
              </div>
            </div>
            <img src="../assets/images/blog/blog6.png" class="img-blog" alt="">
          </div>

          <div class="card-content flex">
            <div class="text-blog">
              <div class="header-card flex">
                <div class="author flex">
                  <img src="../assets/images/blog/author.png" alt="" width="30px">
                  <h5> Hamba Allah</h5>
                </div>
                <p>24 <i class="bx bxs-show"></i></p>
              </div>
              <div class="title-card">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              </div>
              <div class="footer-card flex">
                <div class="left-footer-card flex">
                  <p>11 Jun 2021</p>
                  <p class="tag-card">Challenge</p>
                </div>
                <div class="icon-card">
                  <i class="bx bxs-share-alt"></i>
                  <i class="bx bx-bookmark"></i>
                </div>
              </div>
            </div>
            <img src="../assets/images/blog/blog2.png" class="img-blog" alt="">
          </div>

          <div class="card-content flex">
            <div class="text-blog">
              <div class="header-card flex">
                <div class="author flex">
                  <img src="../assets/images/blog/author.png" alt="" width="30px">
                  <h5> Hamba Allah</h5>
                </div>
                <p>24 <i class="bx bxs-show"></i></p>
              </div>
              <div class="title-card">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              </div>
              <div class="footer-card flex">
                <div class="left-footer-card flex">
                  <p>18 Mei 2021</p>
                  <p class="tag-card">keamanan Internet</p>
                </div>
                <div class="icon-card">
                  <i class="bx bxs-share-alt"></i>
                  <i class="bx bx-bookmark"></i>
                </div>
              </div>
            </div>
            <img src="../assets/images/blog/blog3.png" class="img-blog" alt="">
          </div>

          <div class="card-content flex">
            <div class="text-blog">
              <div class="header-card flex">
                <div class="author flex">
                  <img src="../assets/images/blog/author.png" alt="" width="30px">
                  <h5> Hamba Allah</h5>
                </div>
                <p>24 <i class="bx bxs-show"></i></p>
              </div>
              <div class="title-card">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              </div>
              <div class="footer-card flex">
                <div class="left-footer-card flex">
                  <p>7 Apr 2021</p>
                  <p class="tag-card">Bug Bounty</p>
                </div>
                <div class="icon-card">
                  <i class="bx bxs-share-alt"></i>
                  <i class="bx bx-bookmark"></i>
                </div>
              </div>
            </div>
            <img src="../assets/images/blog/blog4.png" class="img-blog" alt="">
          </div>

          <div class="card-content flex">
            <div class="text-blog">
              <div class="header-card flex">
                <div class="author flex">
                  <img src="../assets/images/blog/author.png" alt="" width="30px">
                  <h5> Hamba Allah</h5>
                </div>
                <p>24 <i class="bx bxs-show"></i></p>
              </div>
              <div class="title-card">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              </div>
              <div class="footer-card flex">
                <div class="left-footer-card flex">
                  <p>28 Maret 2021</p>
                  <p class="tag-card">Lomba</p>
                </div>
                <div class="icon-card">
                  <i class="bx bxs-share-alt"></i>
                  <i class="bx bx-bookmark"></i>
                </div>
              </div>
            </div>
            <img src="../assets/images/blog/blog5.png" class="img-blog" alt="">
          </div>

          <div class="card-content flex">
            <div class="text-blog">
              <div class="header-card flex">
                <div class="author flex">
                  <img src="../assets/images/blog/author.png" alt="" width="30px">
                  <h5> Hamba Allah</h5>
                </div>
                <p>24 <i class="bx bxs-show"></i></p>
              </div>
              <div class="title-card">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
              </div>
              <div class="footer-card flex">
                <div class="left-footer-card flex">
                  <p>22 Maret 2021</p>
                  <p class="tag-card">Burp Suit</p>
                </div>
                <div class="icon-card">
                  <i class="bx bxs-share-alt"></i>
                  <i class="bx bx-bookmark"></i>
                </div>
              </div>
            </div>
            <img src="../assets/images/blog/blog6.png" class="img-blog" alt="">
          </div>

        </div>
        <div class="tag">
          <div class="card-tag">
            <h4>Temukan berbagai hal di sini</h4>
            <div class="tag-btn">
              <button>forensic</button>
              <button>Bug Boutny</button>
              <button>cryptography</button>
              <button>burp suit</button>
              <button>sql injection</button>
              <button>web hacking</button>
              <button>keamanan mobile</button>
              <button>challenge</button>
              <button>keamanan internet</button>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>


  <footer>
    <div id="container-footer">
      <div class="desc">
        <img src="../assets/images/logo-footer.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis eget at arcu risus ridiculus consectetur
          nullam.</p>
        <div class="footer-icon">
          <a href=""><i class="bx bxl-facebook"></i></a>
          <a href=""><i class="bx bxl-instagram-alt"></i></a>
          <a href=""><i class="bx bxl-telegram"></i></a>
          <a href=""><i class='bx bxl-discord'></i></a>
        </div>
      </div>
      <div id="layanan" class="additional-desc">
        <h3>Layanan</h3>
        <a href="">Tanya jawab</a>
        <a href="">Challenge</a>
        <a href="">Blog</a>
        <a href="">Event</a>
      </div>
      <div id="perusahaan" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Tentang kami</a>
        <a href="">FAQ</a>
        <a href="">Hubungi kami</a>
      </div>
      <div id="legalitas" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Kebijakan privasi</a>
        <a href="">Ketentuan dan syarat pengguna</a>
      </div>
    </div>
  </footer>


  <!-- jquery -->
  <script src="../assets/plugin/jquery/jquery.js"></script>

  <!-- js -->
  <script src="../assets/js/index.js" type="text/javascript"></script>
  <script src="../assets/js/user.js" type="text/javascript"></script>
</body>

</html>