<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
    rel="stylesheet">

  <!-- boxicons -->
  <link rel="stylesheet" href="../assets/plugin/boxicons/css/boxicons.css">

  <!-- local css -->
  <link rel="stylesheet" href="../assets/css/navbar.css">
  <link rel="stylesheet" href="../assets/css/diskusi.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
  <title>CyberID | Challenge</title>
</head>

<body>
  <!-- Navbar -->
  <header>
    <div class="inner-width">
      <a href="../index.html" class="logo">
        <img src="../assets/images/logo.png" alt="">
      </a>
      <i class='menu-toggle-btn bx bx-menu'></i>
      <nav class="navigation-menu">
        <ul class="nav-left">
          <li><a href="../index.html">Beranda</a></li>
          <li><a href="diskusi.html" class="purple-light">Diskusi</a></li>
          <li><a href="challenge.html">Challenge</a></li>
          <li class="dropdown dropdown-toggle">
            <a href="">Info <i class='bx bxs-down-arrow icon-dropdown'></i></a>
            <ul class="dropdown-content">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="event.html">Event</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav-right">
          <li class="user flex">
            <p>Muhammad Faisal H</p>
            <img src="../assets/images/nav-user.png" width="35" alt="">
            <div class="menu-user">
              <div class="left-user-menu">
                <ul>
                  <li><i class='bx bxs-user-circle'></i></li>
                  <li><i class='bx bxs-flag-alt'></i></li>
                  <li><i class='bx bxs-bookmarks'></i></li>
                  <li><i class="bx bxs-cog"></i></li>
                  <li><i class="bx bx-log-out"></i></li>
                </ul>
              </div>

              <div class="right-user-menu">
                <ul>
                  <li><a href="profile.html">Profile</a></li>
                  <li><a href="">My Challenge</a></li>
                  <li><a href="">My Info</a></li>
                  <li><a href="">Setting</a></li>
                  <li><a href="../index.html">Logout</a></li>
                </ul>
              </div>
            </div>

          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Navbar -->

  <section id="diskusi" class="container">
    <div class="diskusi">
      <h1>Forum</h1>
      <h3>Kamu bisa bertanya dan memberikan jawaban di sini</h3>
      <div class="head-button flex">
        <a href="newquestion.html" class="pertanyaan">Buat Pertanyaan</a>
        <a href="" class="aturan">Aturan</a>
      </div>

      <input type="text" placeholder="cari pertanyaan" class="search">

      <div class="question">
        <ul class="tab-navigation">
          <li>Semua</li>
          <li>Belum Terjawab</li>
        </ul>
        <div class="tab-content-area">

          <div class="tab-content">
            <div class="container-card flex">
              <div class="card" id="first-card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 2</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="web">Keamanan Web</p>
                  <p class="cryptography">cryptography</p>
                  <p class="mobile">Keamanan Mobile</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 12</i>
                    <i class="bx bxs-heart"> 22</i>
                    <i class="bx bxs-show"> 30</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="forensic">forensic</p>
                  <p class="bug-bounty">Bug Bounty</p>
                  <p class="sql">SQL Injection</p>
                  <p class="web">Keamanan Web</p>

                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 18</i>
                    <i class="bx bxs-heart"> 21</i>
                    <i class="bx bxs-show"> 28</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="cryptography">cryptography</p>
                  <p class="mobile">Keamanan Mobile</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 16</i>
                    <i class="bx bxs-heart"> 40</i>
                    <i class="bx bxs-show"> 80</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="web">Keamanan Web</p>
                  <p class="jaringan">Keamanan Jaringan</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 26</i>
                    <i class="bx bxs-heart"> 50</i>
                    <i class="bx bxs-show"> 80</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="sql">SQL Injection</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 3</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="bug-bounty">Bug Bounty</p>
                  <p class="web">Keamanan Web</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 26</i>
                    <i class="bx bxs-heart"> 50</i>
                    <i class="bx bxs-show"> 80</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="web">Keamanan Web</p>
                  <p class="cryptography">cryptography</p>
                  <p class="mobile">Keamanan Mobile</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 26</i>
                    <i class="bx bxs-heart"> 50</i>
                    <i class="bx bxs-show"> 80</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="bug-bounty">Bug Bounty</p>
                  <p class="web">Keamanan Web</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 26</i>
                    <i class="bx bxs-heart"> 50</i>
                    <i class="bx bxs-show"> 80</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="jaringan">Keamanan Jaringan</p>
                  <p class="cryptography">cryptography</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 26</i>
                    <i class="bx bxs-heart"> 50</i>
                    <i class="bx bxs-show"> 80</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="cryptography">cryptography</p>
                  <p class="forensic">forensic</p>
                  <p class="burp-suit">Burp Suit</p>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content">
            <div class="container-card flex">
              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 8</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="jaringan">Keamanan Jaringan</p>
                  <p class="cryptography">cryptography</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 5</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="web">Keamanan Web</p>
                  <p class="jaringan">Keamanan Jaringan</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 2</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="web">Keamanan Web</p>
                  <p class="cryptography">cryptography</p>
                  <p class="mobile">Keamanan Mobile</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 3</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="bug-bounty">Bug Bounty</p>
                  <p class="web">Keamanan Web</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 10</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="cryptography">cryptography</p>
                  <p class="mobile">Keamanan Mobile</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 7</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="forensic">forensic</p>
                  <p class="bug-bounty">Bug Bounty</p>
                  <p class="sql">SQL Injection</p>
                  <p class="web">Keamanan Web</p>

                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 8</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="cryptography">cryptography</p>
                  <p class="mobile">Keamanan Mobile</p>
                </div>
              </div>

              <div class="card">
                <div class="header-card">
                  <h3>Ini Adalah Judul</h3>
                </div>
                <div class="mid-card flex">
                  <div class="left-mid flex">
                    <img src="../assets/images/profile.png" alt="">
                    <div class="profile-card">
                      <p>Hamba Allah</p>
                      <p>Update 18 jam yang lalu</p>
                    </div>
                  </div>
                  <div class="right-mid flex">
                    <i class="bx bxs-comment"> 0</i>
                    <i class="bx bxs-heart"> 0</i>
                    <i class="bx bxs-show"> 8</i>
                  </div>
                </div>
                <div class="footer-card flex">
                  <p class="sql">SQL Injection</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

  </section>

  <footer>
    <div id="container-footer">
      <div class="desc">
        <img src="../assets/images/logo-footer.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis eget at arcu risus ridiculus consectetur
          nullam.</p>
        <div class="footer-icon">
          <a href=""><i class="bx bxl-facebook"></i></a>
          <a href=""><i class="bx bxl-instagram-alt"></i></a>
          <a href=""><i class="bx bxl-telegram"></i></a>
          <a href=""><i class='bx bxl-discord'></i></a>
        </div>
      </div>
      <div id="layanan" class="additional-desc">
        <h3>Layanan</h3>
        <a href="">Tanya jawab</a>
        <a href="">Challenge</a>
        <a href="">Blog</a>
        <a href="">Event</a>
      </div>
      <div id="perusahaan" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Tentang kami</a>
        <a href="">FAQ</a>
        <a href="">Hubungi kami</a>
      </div>
      <div id="legalitas" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Kebijakan privasi</a>
        <a href="">Ketentuan dan syarat pengguna</a>
      </div>
    </div>
  </footer>


  <!-- jquery -->
  <script src="../assets/plugin/jquery/jquery.js"></script>

  <!-- js -->
  <script src="../assets/js/index.js" type="text/javascript"></script>
  <script src="../assets/js/user.js" type="text/javascript"></script>
  <script src="../assets/js/diskusi.js"></script>
</body>

</html>