<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
    rel="stylesheet">

  <!-- boxicons -->
  <link rel="stylesheet" href="../assets/plugin/boxicons/css/boxicons.css">

  <!-- local css -->
  <link rel="stylesheet" href="../assets/css/navbar.css">
  <link rel="stylesheet" href="../assets/css/diskusi.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
  <title>CyberID | Challenge</title>
</head>

<body>
  <!-- Navbar -->
  <header>
    <div class="inner-width">
      <a href="../index.html" class="logo">
        <img src="../assets/images/logo.png" alt="">
      </a>
      <i class='menu-toggle-btn bx bx-menu'></i>
      <nav class="navigation-menu">
        <ul class="nav-left">
          <li><a href="../index.html">Beranda</a></li>
          <li><a href="diskusi.html" class="purple-light">Diskusi</a></li>
          <li><a href="challenge.html">Challenge</a></li>
          <li class="dropdown dropdown-toggle">
            <a href="">Info <i class='bx bxs-down-arrow icon-dropdown'></i></a>
            <ul class="dropdown-content">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="event.html">Event</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav-right">
          <li class="user flex">
            <p>Muhammad Faisal H</p>
            <img src="../assets/images/nav-user.png" width="35" alt="">
            <div class="menu-user">
              <div class="left-user-menu">
                <ul>
                  <li><i class='bx bxs-user-circle'></i></li>
                  <li><i class='bx bxs-flag-alt'></i></li>
                  <li><i class='bx bxs-bookmarks'></i></li>
                  <li><i class="bx bxs-cog"></i></li>
                  <li><i class="bx bx-log-out"></i></li>
                </ul>
              </div>

              <div class="right-user-menu">
                <ul>
                  <li><a href="profile.html">Profile</a></li>
                  <li><a href="">My Challenge</a></li>
                  <li><a href="">My Info</a></li>
                  <li><a href="">Setting</a></li>
                  <li><a href="../index.html">Logout</a></li>
                </ul>
              </div>
            </div>

          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Navbar -->

  <section id="questions" class="container-question flex">
    <div class="left-side-questions">
      <p><a href="diskusi.html">Forum</a> / Detail Forum</p>
      <div class="card-question">
        <div class="question">
          <div class="header-question flex">
            <h1>Ini Adalah Judul</h1>
            <p>6 <i class="bx bx-heart"></i></p>
          </div>
          <p class="description-make-it">Dibuat <span class="white-light">10 jam yg lalu</span> • Aktif <span
              class="white-light">hari ini</span> • Dilihat <span class="white-light">24 kali</span></p>

          <div class="body-question">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate tincidunt duis varius ligula vulputate
              nisl risus
              quis. Ut massa in a in enim, hac vitae. Leo, et sit in tellus purus platea id. Aliquet sagittis luctus
              sapien varius
              congue ultrices eget.
            </p>
            <img src="../assets/images/nmap-scan.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate tincidunt duis varius ligula vulputate
              nisl risus
              quis. Ut massa in a in enim, hac vitae. Leo, et sit in tellus purus platea id. Aliquet sagittis luctus
              sapien varius
              congue ultrices eget.r sit amet, consectetur adipiscing elit. Vulputate tincidunt duis varius ligula
              vulputate
              nisl risus
              quis. Ut massa in
            </p>
          </div>
          <div class="footer-question">
            <div class="header-footer flex">
              <div class="tag flex">
                <p class="web">Keamanan Web</p>
                <p class="cryptography">cryptography</p>
              </div>
              <div class="icon">
                <i class="bx bxs-comment-detail"></i>
                <i class="bx bxs-share-alt"></i>
              </div>
            </div>
            <div class="profile-question flex">
              <div class="left-profile">
                <img src="../assets/images/profile.png" alt="">
              </div>
              <div class="right-profile">
                <p class="name">Muhammad Faisal</p>
                <p class="detail-profile">
                  <span class="light-dot"></span> 2 kontribusi
                  <span class="light-dot"></span> 32 poin
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Jawaban -->
        <div class="answer">
          <h1>Jawaban</h1>
          <hr>
          <div class="terpilih">
            <h4>Jawaban Terpilih</h4>
            <div class="terpilih-content">
              <div class="content-answer flex">
                <p class="answer-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate tincidunt
                  duis varius ligula
                  vulputate nisl risus
                  quis. Ut massa in a in enim, hac vitae. Leo, et sit in tellus purus platea id. Aliquet sagittis luctus
                  sapien varius
                  congue ultrices eget.
                </p>
                <p>12 <i class="bx bx-heart"></i></p>
              </div>
              <div class="profile-answer flex">
                <div class="flex">
                  <div class="left-profile">
                    <img src="../assets/images/profile.png" alt="">
                  </div>
                  <div class="right-profile">
                    <p class="name">Anonim 1</p>
                    <p class="detail-profile">
                      <span class="light-dot"></span> 82 kontribusi
                      <span class="light-dot"></span> 123 poin
                    </p>
                  </div>
                </div>

                <div class="icon">
                  <i class="bx bxs-comment-detail"></i>
                  <i class="bx bxs-share-alt"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- Balasan -->
          <div class="balasan">
            <p class="head-balasan">Balasan</p>
            <div class="content-balasan">
              <p class="balasan-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate tincidunt
                duis varius ligula
                vulputate nisl risus
                quis. Ut massa in a in enim, hac vitae. Leo, et sit in tellus purus platea id. Aliquet sagittis luctus
                sapien varius
                congue ultrices eget.
              </p>

            </div>
            <div class="profile-answer flex">
              <div class="flex">
                <div class="left-profile-balasan">
                  <img src="../assets/images/profile.png" alt="">
                </div>
                <div class="right-profile-balasan">
                  <p class="name">Anonim 2</p>
                  <p class="detail-profile">
                    <span class="light-dot"></span> 82 kontribusi
                    <span class="light-dot"></span> 123 poin
                  </p>
                </div>
              </div>

              <div class="icon">
                <i class="bx bxs-comment-detail"></i>
              </div>
            </div>
          </div>

          <hr>

          <div class="normal-answer">
            <div class="content-answer flex">
              <p class="answer-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate tincidunt
                duis varius ligula
                vulputate nisl risus
                quis. Ut massa in a in enim, hac vitae. Leo, et sit in tellus purus platea id. Aliquet sagittis luctus
                sapien varius
                congue ultrices eget.
              </p>
              <p>4 <i class="bx bx-heart"></i></p>
            </div>
            <div class="profile-answer flex">
              <div class="flex">
                <div class="left-profile">
                  <img src="../assets/images/profile.png" alt="">
                </div>
                <div class="right-profile">
                  <p class="name">Anonim 2</p>
                  <p class="detail-profile">
                    <span class="light-dot"></span> 82 kontribusi
                    <span class="light-dot"></span> 123 poin
                  </p>
                </div>
              </div>

              <div class="icon">
                <i class="bx bxs-comment-detail"></i>
                <i class="bx bxs-share-alt"></i>
              </div>
            </div>
          </div>

          <hr>

          <div class="normal-answer">
            <div class="content-answer flex">
              <p class="answer-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vulputate tincidunt
                duis varius ligula
                vulputate nisl risus
                quis. Ut massa in a in enim, hac vitae. Leo, et sit in tellus purus platea id. Aliquet sagittis luctus
                sapien varius
                congue ultrices eget.
              </p>
              <p>1 <i class="bx bx-heart"></i></p>
            </div>
            <div class="profile-answer flex">
              <div class="flex">
                <div class="left-profile">
                  <img src="../assets/images/profile.png" alt="">
                </div>
                <div class="right-profile">
                  <p class="name">Anonim 2</p>
                  <p class="detail-profile">
                    <span class="light-dot"></span> 82 kontribusi
                    <span class="light-dot"></span> 123 poin
                  </p>
                </div>
              </div>

              <div class="icon">
                <i class="bx bxs-comment-detail"></i>
                <i class="bx bxs-share-alt"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="right-side-question">
      <p><i class="bx bxs-trophy"></i> Top Kontribusi</p>
      <hr>
      <div class="top-rank flex">
        <img src="../assets/images/top1.png" alt="">
        <div>
          <p>Anonim</p>
          <p>50 kontribusi • 121 poin</p>
        </div>
      </div>

      <div class="top-rank flex">
        <img src="../assets/images/top2.png" alt="">
        <div>
          <p>Anonim</p>
          <p>50 kontribusi • 121 poin</p>
        </div>
      </div>

      <div class="top-rank flex">
        <img src="../assets/images/top3.png" alt="">
        <div>
          <p>Anonim</p>
          <p>50 kontribusi • 121 poin</p>
        </div>
      </div>

      <div class="top-rank flex">
        <img src="../assets/images/top4.png" alt="">
        <div>
          <p>Anonim</p>
          <p>50 kontribusi • 121 poin</p>
        </div>
      </div>

      <div class="top-rank flex">
        <img src="../assets/images/profile.png" alt="">
        <div>
          <p>Anonim</p>
          <p>50 kontribusi • 121 poin</p>
        </div>
      </div>

    </div>

  </section>



  <footer>
    <div id="container-footer">
      <div class="desc">
        <img src="../assets/images/logo-footer.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis eget at arcu risus ridiculus consectetur
          nullam.</p>
        <div class="footer-icon">
          <a href=""><i class="bx bxl-facebook"></i></a>
          <a href=""><i class="bx bxl-instagram-alt"></i></a>
          <a href=""><i class="bx bxl-telegram"></i></a>
          <a href=""><i class='bx bxl-discord'></i></a>
        </div>
      </div>
      <div id="layanan" class="additional-desc">
        <h3>Layanan</h3>
        <a href="">Tanya jawab</a>
        <a href="">Challenge</a>
        <a href="">Blog</a>
        <a href="">Event</a>
      </div>
      <div id="perusahaan" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Tentang kami</a>
        <a href="">FAQ</a>
        <a href="">Hubungi kami</a>
      </div>
      <div id="legalitas" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Kebijakan privasi</a>
        <a href="">Ketentuan dan syarat pengguna</a>
      </div>
    </div>
  </footer>


  <!-- jquery -->
  <script src="../assets/plugin/jquery/jquery.js"></script>

  <!-- js -->
  <script src="../assets/js/index.js" type="text/javascript"></script>
  <script src="../assets/js/user.js" type="text/javascript"></script>
  <script src="../assets/js/diskusi.js"></script>
</body>

</html>