<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
    rel="stylesheet">

  <!-- boxicons -->
  <link rel="stylesheet" href="../assets/plugin/boxicons/css/boxicons.css">

  <!-- local css -->
  <link rel="stylesheet" href="../assets/css/navbar.css">
  <link rel="stylesheet" href="../assets/css/login.css">
  <title>CyberID | Masuk</title>
</head>

<body>
  <div class="card">
    <div class="card-header">
      <img src="../assets/images/logo.png" alt="">
    </div>
    <div class="card-body">
      <form action="">
        <div class="data">
          <label for="">Username or Email</label>
          <input type="email" placeholder="Type your username or email" required>

          <label for="">Password</label>
          <input type="password" placeholder="Type your password">

          <a href="" class="lupa-password">Lupa password?</a>
          <button type="submit">Login</button>
          <p>Belum Punya akun? <a href="register.html">Daftar Sekarang</a></p>
        </div>
        <div class="login-with">
          <p>Atau login dengan</p>
          <i class="bx bxl-github"></i>
          <i class="bx bxl-google"></i>
        </div>
      </form>
    </div>
  </div>
</body>

</html>