<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
    rel="stylesheet">

  <!-- boxicons -->
  <link rel="stylesheet" href="../assets/plugin/boxicons/css/boxicons.css">

  <!-- local css -->
  <link rel="stylesheet" href="../assets/css/navbar.css">
  <link rel="stylesheet" href="../assets/css/profile.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
  <title>CyberID | Profile</title>
</head>

<body>
  <!-- Navbar -->
  <header>
    <div class="inner-width">
      <a href="../index.html" class="logo">
        <img src="../assets/images/logo.png" alt="">
      </a>
      <i class='menu-toggle-btn bx bx-menu'></i>
      <nav class="navigation-menu">
        <ul class="nav-left">
          <li><a href="../index.html">Beranda</a></li>
          <li><a href="diskusi.html">Diskusi</a></li>
          <li><a href="challenge.html">Challenge</a></li>
          <li class="dropdown dropdown-toggle">
            <a href="">Info <i class='bx bxs-down-arrow icon-dropdown'></i></a>
            <ul class="dropdown-content">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="event.html">Event</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav-right">
          <li class="user flex">
            <p>Muhammad Faisal H</p>
            <img src="../assets/images/nav-user.png" width="35" alt="">
            <div class="menu-user">
              <div class="left-user-menu">
                <ul>
                  <li><i class='bx bxs-user-circle purple-light'></i></li>
                  <li><i class='bx bxs-flag-alt'></i></li>
                  <li><i class='bx bxs-bookmarks'></i></li>
                  <li><i class="bx bxs-cog"></i></li>
                  <li><i class="bx bx-log-out"></i></li>
                </ul>
              </div>

              <div class="right-user-menu">
                <ul>
                  <li><a href="" class="purple-light">Profile</a></li>
                  <li><a href="">My Challenge</a></li>
                  <li><a href="">My Info</a></li>
                  <li><a href="">Setting</a></li>
                  <li><a href="../index.html">Logout</a></li>
                </ul>
              </div>
            </div>

          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Navbar -->

  <section id="profile" class="flex">
    <div class="left-bar">
      <div class="header-profile">
        <div class="mobile-header">
          <img src="../assets/images/profile.png" alt="">
          <div>
            <h3>Muhammad Faisal</h3>
            <p class="username">@mfaisalh12</p>
          </div>
        </div>
        <a href="edit-profil.html" class="edit-profile">Edit Profile</a>
        <p class="number">
          <span class="bold-number">1630</span> Points |
          <span class="bold-number">0</span> Followers
        </p>
      </div>
      <hr>
      <div class="bio-profile">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Massa gravida ultrices praesent consectetur
          consectetur estenim suscipit.
        </p>
      </div>
      <hr>
      <div class="detail-profile">
        <p><i class="bx bxs-map"></i> Jawa Timur</p>
        <p><i class="bx bxs-business"></i> Telkom University</p>
      </div>
      <hr>
      <div class="socmed flex">
        <i class="bx bxl-github"></i>
        <i class="bx bxl-twitter"></i>
        <i class="bx bxl-linkedin"></i>
      </div>
    </div>

    <div class="right-bar">
      <div class="chart flex">
        <div class="bar-chart">
          <h3>Kontribusi Per Bulan</h3>

          <ul class="bars">
            <li>
              <div class="bar" data-percentage="50" data-count="20">
                <span>Jan</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="30" data-count="13">
                <span>Feb</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="30" data-count="13">
                <span>Mar</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="10" data-count="7">
                <span>Apr</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="80" data-count="34">
                <span>Mei</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="75" data-count="32">
                <span>Jun</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="40" data-count="16">
                <span>Jul</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="10" data-count="7">
                <span>Agt</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="50" data-count="20">
                <span>Sep</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="45" data-count="18">
                <span>Okt</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="60" data-count="24">
                <span>Nov</span>
              </div>
            </li>
            <li>
              <div class="bar" data-percentage="35" data-count="15">
                <span>Des</span>
              </div>
            </li>
          </ul>
        </div>

        <div class="exp">
          <h3>Level Saat Ini</h3>
          <div class="level">
            <div class="circle-outer"></div>
            <div class="circle-inner">
              <h3>5</h3>
              <p class="xp">XP: 5020</p>
            </div>
          </div>
        </div>
      </div>
      <div class="detile">
        <h3>Detail Kontribusi</h3>
        <div class="box-detile flex">
          <div class="box" data-count="15">
            <h5>Pertanyaan Diajukan</h5>
            <h4 class="counter">0</h4>
          </div>
          <div class="box" data-count="3">
            <h5>Challenge Dibuat</h5>
            <h4 class="counter">0</h4>
          </div>
          <div class="box" data-count="5">
            <h5>Blog Ditulis</h5>
            <h4 class="counter">0</h4>
          </div>
          <div class="box" data-count="25">
            <h5>Pertanyaan Dijawab</h5>
            <h4 class="counter">0</h4>
          </div>
          <div class="box" data-count="18">
            <h5>challenge DIkerjakan</h5>
            <h4 class="counter">0</h4>
          </div>
          <div class="box" data-count="4">
            <h5>Event Ditulis</h5>
            <h4 class="counter">0</h4>
          </div>
        </div>
      </div>
    </div>

  </section>


  <footer>
    <hr>
    <div id="container-footer">
      <div class="desc">
        <img src="../assets/images/logo-footer.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lobortis eget at arcu risus ridiculus consectetur
          nullam.</p>
        <div class="footer-icon">
          <a href=""><i class="bx bxl-facebook"></i></a>
          <a href=""><i class="bx bxl-instagram-alt"></i></a>
          <a href=""><i class="bx bxl-telegram"></i></a>
          <a href=""><i class='bx bxl-discord'></i></a>
        </div>
      </div>
      <div id="layanan" class="additional-desc">
        <h3>Layanan</h3>
        <a href="">Tanya jawab</a>
        <a href="">Challenge</a>
        <a href="">Blog</a>
        <a href="">Event</a>
      </div>
      <div id="perusahaan" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Tentang kami</a>
        <a href="">FAQ</a>
        <a href="">Hubungi kami</a>
      </div>
      <div id="legalitas" class="additional-desc">
        <h3>Perusahaan</h3>
        <a href="">Kebijakan privasi</a>
        <a href="">Ketentuan dan syarat pengguna</a>
      </div>
    </div>
  </footer>


  <!-- jquery -->
  <script src="../assets/plugin/jquery/jquery.js"></script>

  <!-- js -->
  <script src="../assets/js/profile.js" type="text/javascript"></script>
  <script src="../assets/js/user.js" type="text/javascript"></script>
  <script src="../assets/js/index.js"></script>
</body>

</html>