/* navbar user */
.nav-right li {
	cursor: pointer;
}
.nav-right li img {
	margin: auto 0 !important;
	vertical-align: middle;
}
.nav-right li p {
	color: var(--white-light);
	font-size: 0.9em;
	font-weight: 300;
	font-family: var(--primary-font);
	margin: auto 12px;
}
.nav-right li:hover p {
	color: var(--gray-light);
}
.menu-user {
	position: absolute;
	right: 50px;
	top: 80px;
	display: flex;
	background: var(--bg);
	border-radius: 8px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	display: none;
}
.left-user-menu {
	background: var(--bg);
	padding: 15px 0 15px 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.left-user-menu ul li {
	color: var(--white-light);
}

.right-user-menu {
	padding: 15px 15px 15px 0;
}
.right-user-menu a {
	color: var(--white-light);
	font-weight: 400;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 0;
}
.menu-user li {
	padding: 10px;
}
.right-user-menu li:hover {
	background: var(--purple-light-hover);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.menu-user::before {
	content: '';
	position: absolute;
	top: -20px;
	right: 15px;
	border: 10px solid;
	border-color: transparent transparent var(--bg) transparent;
}
.user.active .menu-user {
	display: flex;
}
/* End Nacbar User */

/* Jumbotron */
#jumbotron {
	background: var(--bg-section);
	color: var(--white-light);
	text-align: center;
	display: relative;
	padding-bottom: 12%;
}

.container {
	max-width: 1440px;
	margin: auto;
	padding: 4% 0;
}

#jumbotron i {
	font-size: 5.2em;
}
#jumbotron h1 {
	font-family: var(--primary-font);
	font-size: 36px;
	font-weight: 700;
	margin-top: 20px;
}
#jumbotron p {
	padding: 20px 22%;
}
#jumbotron button {
	padding: 6px 30px;
	font-size: 14px;
	border: none;
	outline: none;
	border-radius: 6px;
	background-color: var(--purple-light);
	color: var(--white-light);
	cursor: pointer;
	z-index: 0;
	position: relative;
}
#jumbotron button:hover {
	color: var(--white-light);
}
#jumbotron button:hover:after {
	width: 100%;
}
#jumbotron button:after {
	content: '';
	border-radius: 4px;
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: var(--purple-light-hover);
}

/* wave */
.wave1 {
	position: absolute;
	width: 100%;
	top: 390px;
	z-index: 0;
}
.wave2 {
	position: absolute;
	width: 100%;
	top: 400px;
	z-index: 1;
}

/* Search */
#blog {
	position: relative;
	top: 0;
	padding: 0 4%;
}
.search {
	margin-top: 4%;
}
.search form {
	display: flex;
}
input {
	width: 100%;
	height: 50px;
	border-radius: 8px 0 0 8px;
	padding: 6px;
	margin-top: 8px;
	border: none;
	color: var(--purple-normal);
	font-size: 14px;
	background-color: var(--white-light);
}

input[type='text'] {
	padding: 6px 25px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}
.search button {
	float: right;
	padding: 6px 20px 1px;
	margin-top: 8px;
	background: var(--white-light);
	font-size: 28px;
	border: none;
	cursor: pointer;
	color: var(--purple-light);
}
.search button:hover i {
	font-weight: 800;
}
input[type='text']:focus {
	border: none !important;
	box-shadow: none;
	outline: none;
}
::placeholder {
	color: var(--placeholder);
	font-family: 'Poppins';
	font-size: 18px;
	font-weight: 400;
}

/* Blog */
.flex {
	display: flex;
}

.blog-content {
	justify-content: space-between;
}

.content {
	width: 62%;
}
.card-content {
	background-color: var(--bg-section);
	color: var(--white-light);
	justify-content: space-between;
	border-radius: 6px;
	margin-bottom: 20px;
}
.text-blog {
	padding: 10px 20px 5px;
}
.header-card {
	justify-content: space-between;
	margin: 10px 0;
	color: var(--gray-light);
	font-weight: 400;
}
.header-card p {
	margin: auto 0;
}

.author,
.title-card h3,
.icon-card i {
	cursor: pointer;
}
.title-card h3:hover {
	color: var(--gray-light);
}
.author h5 {
	color: var(--gray-light);
	font-weight: 400;
	margin: auto 10px;
}
.title-card {
	padding-right: 20px;
	margin: 20px 0;
}
.title-card h3 {
	font-family: var(--primary-font);
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-transform: capitalize;
}
.footer-card {
	justify-content: space-between;
	margin: 50px 0 10px;
	color: var(--gray-light);
}
.left-footer-card {
	justify-content: start;
	font-weight: 300;
	font-size: 12px;
}
.left-footer-card p {
	margin: auto;
}
.tag-card {
	margin-left: 20px !important;
	background-color: var(--bg);
	padding: 2px 10px;
}
.img-blog {
	width: 300px;
	border-radius: 0px 6px 6px 0px;
}

/* Tag section */
.tag {
	background-color: var(--bg-tag);
	width: 30%;
	height: 40%;
	padding: 20px;
	color: var(--white-light);
}
.card-tag h4 {
	font-weight: 400;
	margin-bottom: 20px;
}

.tag-btn button {
	font-weight: 200;
	background: transparent;
	color: var(--gray-light);
	border: 0.2px solid var(--gray-light);
	box-sizing: border-box;
	padding: 8px;
	cursor: pointer;
	margin: 4px 4px 4px 0;
	text-transform: capitalize;
	transition: 0.3s;
}
.tag-btn button:hover {
	color: var(--white-light);
	border: 0.2px solid var(--white-light);
}

@media only screen and (max-width: 900px) {
	.blog-content {
		flex-direction: column-reverse;
	}
	.tag,
	.content {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 780px) {
	.user {
		flex-direction: row-reverse;
		justify-content: start;
		padding-left: 20px;
	}
	.menu-user {
		right: 150px;
		top: 280px;
	}
	.right-user-menu a {
		margin: 0;
		padding: 1.4px 0;
		text-align: start;
	}
}

@media only screen and (max-width: 600px) {
	.wave1 {
		top: 340px;
	}
	.wave2 {
		top: 350px;
	}
	.card-content {
		flex-direction: column-reverse;
	}
	.img-blog {
		width: 100%;
	}
	.footer-card {
		margin-top: 20px;
	}
	#jumbotron i {
		font-size: 4em;
	}
	#jumbotron h1 {
		font-size: 1.6em;
	}
	::placeholder,
	.tag-btn button,
	#jumbotron p,
	.author h5,
	.header-card p,
	.left-footer-card {
		font-size: 0.8em;
	}
	.title-card h3 {
		font-size: 1em;
	}
}

@media only screen and (max-width: 380px) {
	.wave1 {
		top: 360px;
	}
	.wave2 {
		top: 370px;
	}
}

@media only screen and (max-width: 320px) {
	.menu-user {
		right: 80px;
		top: 280px;
	}
	.menu-user li {
		padding: 4px;
	}
}
