/* navbar user */
.nav-right li {
	cursor: pointer;
}
.nav-right li img {
	margin: auto 0 !important;
	vertical-align: middle;
}
.nav-right li p {
	color: var(--white-light);
	font-size: 0.9em;
	font-weight: 300;
	font-family: var(--primary-font);
	margin: auto 12px;
}
.nav-right li:hover p {
	color: var(--gray-light);
}
.menu-user {
	position: absolute;
	right: 50px;
	top: 80px;
	display: flex;
	background: var(--bg);
	border-radius: 8px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	display: none;
}
.left-user-menu {
	background: var(--bg);
	padding: 15px 0 15px 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.left-user-menu ul li {
	color: var(--white-light);
}

.right-user-menu {
	padding: 15px 15px 15px 0;
}
.right-user-menu a {
	color: var(--white-light);
	font-weight: 400;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 0;
}
.menu-user li {
	padding: 10px;
}
.right-user-menu li:hover {
	background: var(--purple-light-hover);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.menu-user::before {
	content: '';
	position: absolute;
	top: -20px;
	right: 15px;
	border: 10px solid;
	border-color: transparent transparent var(--bg) transparent;
}
.user.active .menu-user {
	display: flex;
}
.flex {
	display: flex;
}
.container {
	max-width: 1240px;
	padding: 4%;
	margin: 0 auto;
}
#diskusi {
	color: var(--white-light);
}
.diskusi h1 {
	font-size: 38px;
	font-weight: 600;
}
.diskusi h3 {
	font-size: 22px;
	font-weight: 300;
}
.pertanyaan,
.aturan {
	text-decoration: none !important;
	margin: 10px 20px 10px 0;
	padding: 6px 20px;
	border-radius: 4px;
}
.pertanyaan {
	color: var(--white-light);
	background-color: var(--purple-normal);
	transition: 0.3s;
}
.pertanyaan:hover {
	background-color: var(--purple-normal-hover);
}
.aturan {
	color: var(--purple-dark);
	background-color: var(--white-light);
	transition: 0.3s;
}
.aturan:hover {
	color: var(--white-light);
	background-color: var(--purple-normal-hover);
}
.search {
	width: 100%;
	padding: 10px;
	margin: 50px 0 20px;
	border: none;
	border-radius: 2px;
	background-color: var(--white-light);
}
.search:focus {
	outline: none;
	background-color: #fff;
}
.tab-navigation {
	padding: 0;
	margin: 0;
	list-style: none;
}
.tab-navigation li {
	display: inline-block;
	padding: 5px 15px;
	background: var(--bg-section);
	text-align: center;
	min-width: 100px;
	color: var(--white-light);
	border: 5px 5px 0 0;
	cursor: pointer;
}
.tab-navigation li:hover {
	background: var(--purple-light-hover);
}
.tab-navigation li.active {
	background: var(--purple-light-hover);
}
.tab-content-area {
}
.tab-content {
	color: var(--white-light);
	border: 0 5px 5px 5px;
	display: none;
}

.container-card {
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	background: var(--bg-section);
	padding: 20px 30px;
	margin: 10px 0;
	width: 45%;
	box-shadow: 0 4px 4px 0 var(--bg-section), 0 3px 10px 0 var(--bg-section);
	cursor: pointer;
}
.card:hover {
	box-shadow: none;
	background: #150a2e;
}
.header-card h3 {
	font-weight: 500;
	margin: 0 0 14px;
	font-size: 18px;
}
.mid-card {
	justify-content: space-between;
}
.left-mid img {
	max-width: 50px;
	border: 1px solid var(--white-light);
	border-radius: 50%;
	margin-right: 14px;
}
.left-mid p {
	font-size: 12px;
	padding: 0;
}
.profile-card {
	margin: auto;
	color: var(--gray-lightfull);
}
.right-mid i {
	font-size: 16px;
	font-weight: 300;
	margin: auto 0 auto 12px;
	color: var(--gray-lightfull);
}
.footer-card {
	margin-top: 20px;
	font-size: 10px;
	font-weight: 300;
	max-width: 70%;
	flex-wrap: wrap;
}

.footer-card p {
	margin: 6px 10px 0 0;
	padding: 3px 12px;
	border-radius: 3px;
}
.forensic {
	background-color: var(--bg-tag);
}
.bug-bounty {
	background-color: var(--purple-normal-hover);
}
.sql {
	background-color: var(--purple-normal);
}
.web {
	background-color: var(--purple-dark);
}
.cryptography {
	background-color: var(--purple-light-hover);
}
.mobile {
	background-color: var(--purple-normal);
}
.jaringan {
	background-color: var(--purple-normal-hover);
}
.burp-suit {
	background-color: var(--purple-dark);
}

.container-question {
	max-width: 1400px;
	margin: auto;
	padding: 4% 0;
	justify-content: space-between;
}
#questions p {
	color: var(--white-light);
	font-size: 16px;
	font-weight: 300;
}
#questions p a {
	color: var(--purple-light);
	text-decoration: none;
}
#questions p a:hover {
	text-decoration: underline;
}
.card-question {
	background: var(--bg-section);
	width: 1000px;
	color: var(--white-light);
	padding: 30px 40px;
	margin: 10px 0;
	border-radius: 8px;
}
.header-question {
	justify-content: space-between;
}
.header-question h1 {
	font-weight: 400;
}
.header-question p {
	margin: auto 0;
	font-size: 14px !important;
}
.header-question p i {
	margin: auto;
	font-size: 18px;
}
.description-make-it {
	font-size: 12px !important;
	color: var(--gray-light) !important;
	margin: 14px 0 40px;
}
.white-light {
	color: var(--white-light);
}
.body-question p {
	font-size: 14px !important;
	font-weight: 300;
}
.body-question img {
	display: block;
	margin: 14px auto;
	width: 50%;
}
.header-footer {
	margin: 20px 0;
	justify-content: space-between;
}
.tag p {
	font-size: 12px !important;
	padding: 3px 12px;
	border-radius: 3px;
	margin: 0 10px 0 0;
}
.icon i {
	font-size: 18px;
	padding-top: 4px !important;
	margin-left: 10px;
	cursor: pointer;
}
.profile-answer,
.profile-question {
	margin: 20px 0 0;
}

.left-profile img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid var(--white-light);
}

.right-profile {
	display: block;
	margin: auto 0 auto 10px;
}
.right-profile p {
	font-size: 12px !important;
	margin: 4px 0;
}
.name {
	font-weight: 500 !important;
}
.name:hover {
	text-decoration: underline;
	cursor: pointer;
}
.light-dot {
	height: 8px;
	width: 8px;
	background-color: var(--purple-light);
	border-radius: 50%;
	display: inline-block;
}
.content-answer,
.profile-answer {
	justify-content: space-between;
}
.profile-answer .icon {
	margin: auto 0;
}
.answer-detail {
	width: 80%;
}
.answer h1 {
	margin: 40px 0 0;
}
hr {
	border: 1px solid var(--bg);
	margin: 20px 0;
}
.terpilih h4 {
	color: limegreen;
	font-weight: 400;
	margin-left: 20px;
}
.terpilih-content {
	border-left: 2px solid limegreen;
	padding: 10px 0 0 20px;
}
.normal-answer p,
.terpilih-content p {
	font-size: 14px !important;
	font-weight: 400;
}
.balasan {
	margin-left: 80px;
}
.head-balasan {
	margin: 10px 0;
	text-decoration: underline;
}
.balasan p {
	font-size: 12px !important;
	font-weight: 400;
}
.left-profile-balasan img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--white-light);
}
.right-profile-balasan {
	display: block;
	margin: auto 0 auto 10px;
}
.right-profile-balasan p {
	font-size: 11px !important;
}

.right-side-question {
	background: var(--bg-section);
	color: var(--white-light);
	width: 300px;
	height: 100%;
	margin: 34px 0 0;
	padding: 30px 40px;
	border-radius: 6px;
	position: sticky;
	top: 100px;
}
.right-side-question p {
	text-align: center;
}
.bxs-trophy {
	color: var(--purple-light);
}
.top-rank {
	margin: 25px 0;
}
.top-rank img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--white-light);
}
.top-rank div p {
	text-align: left !important;
	font-size: 12px !important;
	margin-left: 14px;
}

@media only screen and (max-width: 1024px) {
	.card {
		width: 48%;
	}
	.right-side-question {
		display: none;
	}
	.card-question {
		width: 100%;
	}
}
@media only screen and (max-width: 900px) {
	.user {
		flex-direction: row-reverse;
		justify-content: start;
		padding-left: 20px;
	}
	.menu-user {
		right: 150px;
		top: 280px;
	}
	.right-user-menu a {
		margin: 0;
		padding: 1.4px 0;
		text-align: start;
	}

	.container-card {
		flex-wrap: wrap;
	}
	.card {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.diskusi h1 {
		font-size: 24px;
	}
	.diskusi h3 {
		font-size: 14px;
	}
	.pertanyaan,
	.aturan {
		padding: 4px 12px;
		font-size: 12px;
	}
	.search {
		font-size: 12px;
		padding: 6px 10px;
		margin: 35px 0 20px;
	}
	.tab-navigation li {
		font-size: 12px;
	}
	.left-mid img {
		margin-right: 8px;
	}
	.left-mid p {
		font-size: 10px;
	}
	.right-mid i {
		font-size: 12px;
		margin: auto 0 auto 8px;
	}
	.footer-card {
		font-size: 9px;
		max-width: 100%;
	}
	.footer-card p {
		margin: 6px 6px 0 0;
		padding: 1px 9px;
		border-radius: 3px;
	}
}

@media only screen and (max-width: 320px) {
	.menu-user {
		right: 80px;
		top: 280px;
	}
	.menu-user li {
		padding: 4px;
	}
}
