.flex {
	display: flex;
}

/* navbar user */
.nav-right li {
	cursor: pointer;
}
.nav-right li img {
	margin: auto 0 !important;
	vertical-align: middle;
}
.nav-right li p {
	color: var(--white-light);
	font-size: 0.9em;
	font-weight: 300;
	font-family: var(--primary-font);
	margin: auto 12px;
}
.nav-right li:hover p {
	color: var(--gray-light);
}
.menu-user {
	position: absolute;
	right: 50px;
	top: 80px;
	display: flex;
	background: var(--bg);
	border-radius: 8px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
	display: none;
}
.left-user-menu {
	background: var(--bg);
	padding: 15px 0 15px 15px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.left-user-menu ul li {
	color: var(--white-light);
}

.right-user-menu {
	padding: 15px 15px 15px 0;
}
.right-user-menu a {
	color: var(--white-light);
	font-weight: 400;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 0;
}
.menu-user li {
	padding: 10px;
}
.right-user-menu li:hover {
	background: var(--purple-light-hover);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.menu-user::before {
	content: '';
	position: absolute;
	top: -20px;
	right: 15px;
	border: 10px solid;
	border-color: transparent transparent var(--bg) transparent;
}
.user.active .menu-user {
	display: flex;
}
/* End Nacbar User */

/* Jumbotron */
#jumbotron {
	background: var(--bg-section);
	color: var(--white-light);
	text-align: center;
	display: relative;
	padding-bottom: 12%;
}
.container {
	max-width: 1440px;
	margin: auto;
	padding: 4% 0;
}
#jumbotron i {
	font-size: 5.2em;
}
#jumbotron h1 {
	font-family: var(--primary-font);
	font-size: 36px;
	font-weight: 700;
	margin-top: 20px;
}
#jumbotron p {
	padding: 20px 22%;
}
#jumbotron button {
	padding: 6px 30px;
	font-size: 14px;
	border: none;
	outline: none;
	border-radius: 6px;
	background-color: var(--purple-light);
	color: var(--white-light);
	cursor: pointer;
	z-index: 0;
	position: relative;
}
#jumbotron button:hover {
	color: var(--white-light);
}
#jumbotron button:hover::after {
	width: 100%;
}
#jumbotron button::after {
	content: '';
	border-radius: 4px;
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background-color: var(--purple-light-hover);
}

/* wave */
.wave1 {
	position: absolute;
	width: 100%;
	top: 390px;
}
.wave2 {
	position: absolute;
	width: 100%;
	top: 400px;
}

#event {
	position: relative;
	top: 40px;
	padding: 0 4%;
}
.tag-event,
.header-event {
	justify-content: space-between;
}
.header-event {
	flex-wrap: wrap-reverse;
}
.tag-event button {
	margin-right: 10px;
	padding: 4px 16px;
	border-radius: 2px;
	cursor: pointer;
	background-color: var(--purple-light);
	border: none;
	color: var(--white-light);
	transition: 0.3s;
}
.tag-event button:hover {
	background-color: var(--purple-light-hover);
}
.tag-event button.active {
	background-color: var(--purple-normal);
}

.search-event form input {
	width: 25em;
	height: 35px;
	border-radius: 2px 0 0 2px;
	border: none;
	color: var(--purple-normal);
	font-size: 12px;
	background-color: var(--white-light);
}
.search-event form input[type='text'] {
	padding: 6px 20px;
	font-size: 12px;
	border: none;
}
.search-event button {
	float: right;
	padding: 6px 10px 1px;
	background: var(--purple-light);
	font-size: 18px;
	border: none;
	cursor: pointer;
	color: var(--white-light);
	transition: 0.3s;
}
.search-event button:hover i {
	font-weight: 800;
}
input[type='text']:focus {
	border: none !important;
	box-shadow: none;
	outline: none;
}
::placeholder {
	color: var(--placeholder);
	font-family: 'Poppins';
	font-size: 12px;
	font-weight: 400;
}

.body-event {
	justify-content: space-between;
	flex-wrap: wrap;
}
.card-event {
	background-color: var(--black);
	color: var(--white-light);
	margin-top: 40px;
	border-radius: 8px;
	display: none;
}
.header-card img {
	width: 100%;
}
.card-footer,
.card-body {
	padding: 10px 14px 20px;
	justify-content: space-between;
}
.icon-card i {
	font-size: 20px;
	cursor: pointer;
	margin: auto 0 auto 5px;
}
.card-footer {
	font-weight: 300;
	font-size: 12px;
	margin: 20px 0 0;
}
.text-card-footer {
	color: var(--gray-light);
}
.card-footer a {
	margin: auto 0;
	text-decoration: none;
	background-color: var(--white-light);
	padding: 5px 12px;
	border-radius: 4px;
	color: var(--purple-normal);
	font-weight: 500;
	transition: 0.3s;
}
.card-footer a:hover {
	background-color: var(--gray-light);
	margin-bottom: 5px;
}

.button-body {
	padding: 8px 28px;
	margin: 40px auto 100px;
	display: block;
	border-radius: 25px;
	border: none;
	background-color: var(--purple-normal);
	color: var(--white-light);
	cursor: pointer;
	transition: 0.3s;
}
.button-body:hover {
	background-color: var(--purple-normal-hover);
}

@media only screen and (max-width: 900px) {
	.card-event {
		width: 42%;
	}
}

@media only screen and (max-width: 780px) {
	.user {
		flex-direction: row-reverse;
		justify-content: start;
		padding-left: 20px;
	}
	.menu-user {
		right: 150px;
		top: 280px;
	}
	.right-user-menu a {
		margin: 0;
		padding: 1.4px 0;
		text-align: start;
	}

	.tag-event button {
		font-size: 10px;
		padding: 0px 12px;
	}
	.search-event form input[type='text'] {
		padding: 4px 10px;
		font-size: 10px;
	}
	.search-event form input {
		width: 10rem;
		height: 30px;
	}
	.search-event button {
		padding: 4px 10px 2px;
		font-size: 10px;
	}
	::placeholder {
		font-size: 10px;
	}
	.card-event {
		width: 45%;
	}
	.card-body h4 {
		font-size: 14px;
	}
	.icon-card i {
		font-size: 18px;
	}
	.card-footer {
		font-size: 10px;
		margin: 18px 0 0;
	}

	.button-body button {
		font-size: 12px;
	}
}

@media only screen and (max-width: 600px) {
	.wave1 {
		top: 340px;
	}
	.wave2 {
		top: 350px;
	}
	#jumbotron i {
		font-size: 4em;
	}
	#jumbotron h1 {
		font-size: 1.6em;
	}
	#jumbotron p {
		font-size: 0.8em;
	}

	.header-event {
		justify-content: start;
	}
	.tag-event {
		margin-top: 20px;
		justify-content: space-between;
	}
	.tag-event button {
		padding: 6px 5%;
	}
	.search-event form input,
	.search-event {
		width: 100%;
	}

	.card-event {
		width: 100%;
		margin-top: 20px;
	}
	.card-body h4 {
		font-size: 18px;
	}
	.icon-card i {
		font-size: 20px;
	}
	.card-footer {
		font-size: 12px;
	}
	.button-body button {
		font-size: 12px;
	}
}

@media only screen and (max-width: 380px) {
	.wave1 {
		top: 360px;
	}
	.wave2 {
		top: 370px;
	}

	.card-body h4 {
		font-size: 14px;
	}
	.icon-card i {
		font-size: 18px;
	}
	.button-body button,
	.card-footer {
		font-size: 10px;
	}
}

@media only screen and (max-width: 320px) {
	.menu-user {
		right: 80px;
		top: 280px;
	}
	.menu-user li {
		padding: 4px;
	}
}
