/* Footer */
footer {
	background-color: var(--bg-section);
	color: var(--white-light);
	margin-top: 4%;
}

#container-footer {
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 4% 10px;
}

#container-footer a {
	text-decoration: none;
	color: var(--white-light);
}

#container-footer a:hover {
	color: var(--gray-light);
}

.desc {
	width: 30%;
}
.desc img {
	max-width: 144px;
}
.desc p {
	font-size: 14px;
	padding: 15px 18px 10px 0;
	font-weight: 400;
}
.footer-icon a {
	background-color: var(--purple-light-hover);
	padding: 4px;
	border-radius: 50%;
	margin-right: 10px;
}
.footer-icon a i {
	font-size: 1.6em;
	transition: 0.3s;
}
.footer-icon a:hover i {
	transform: translateY(5px);
	color: var(--white-light);
}

.additional-desc h3 {
	font-family: var(--primary-font);
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 14px;
}
.additional-desc a {
	display: block;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 8px;
}
.additional-desc a:hover {
	color: var(--gray-light) !important;
}

@media only screen and (max-width: 780px) {
	/* Footer */
	footer {
		background-color: var(--bg-section);
		color: var(--white-light);
		margin-top: 4%;
		padding: 0 4%;
	}
	.footer-icon a {
		padding: 2px;
	}
	#container-footer {
		max-width: 1400px;
		display: flex;
		justify-content: space-between;
		margin: auto;
		padding: 4% 0;
	}
	#container-footer a {
		text-decoration: none;
		color: var(--white-light);
	}
	.desc {
		width: 35%;
	}
	.desc img {
		width: 115px;
	}
	.desc p {
		font-size: 12px;
		font-weight: 300;
	}
	.footer-icon a i {
		font-size: 1.2em;
	}
	.additional-desc h3 {
		font-weight: 500;
		font-size: 16px;
	}
	.additional-desc a {
		font-size: 12px;
		font-weight: 300;
	}
}

@media only screen and (max-width: 580px) {
	/* footer */
	#container-footer {
		display: block;
		text-align: center;
	}
	.desc {
		width: 100%;
	}
	.desc img {
		width: 100px;
	}
	.desc p {
		padding: 0;
		margin-bottom: 16px;
	}
	.footer-icon a {
		margin: 0 5px;
	}
	.additional-desc {
		margin-top: 30px;
	}
	.additional-desc h3 {
		margin-bottom: 5px;
	}
	.additional-desc a {
		margin-bottom: 4px;
	}
}
