body {
	background-color: var(--bg);
	max-width: 1440px;
	margin: auto;
}

.card {
	background-color: var(--bg-section);
	width: 40%;
	margin: 60px auto 0;
	padding: 3% 3%;
	border-radius: 18px;
	color: var(--white-light);
}

.card-header {
	text-align: center;
	margin-bottom: 7%;
}
.card-header img {
	width: 12%;
}

.card-body {
	text-align: left;
}
.data label {
	font-family: var(--primary-font);
	font-size: 18px;
	font-weight: 400;
}

input {
	width: 100%;
	height: 50px;
	border-radius: 8px;
	padding: 12px 20px 12px 50px;
	margin: 10px 0 18px;
	border: none;
	color: var(--purple-normal);
	font-size: 14px;
}
input[type='email']:focus,
input[type='password']:focus {
	border: none !important;
	box-shadow: none;
	outline: none;
}
input[type='email'] {
	background-image: url(../images/user-solid-24.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	transition: 0.3s;
}
input[type='email']:focus {
	background-image: url(../images/user-solid.png);
}
input[type='password'] {
	background-image: url(../images/lock-alt-solid-24.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
	transition: 0.3s;
}
input[type='password']:focus {
	background-image: url(../images/lock-alt-solid.png);
}
.focus-visible {
	outline: none;
}
::placeholder {
	color: var(--placeholder);
	font-family: 'Poppins';
	font-size: 14px;
	font-weight: 400;
}
.data a {
	text-decoration: none;
	color: var(--purple-light);
	font-size: 14px;
}
.data a:hover {
	color: var(--purple-light-hover);
}
.lupa-password {
	float: right;
	margin-bottom: 16px;
}

button {
	width: 100%;
	padding: 16px;
	font-family: var(--primary-font);
	font-weight: 400;
	font-size: 18px;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	color: var(--white-light);
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	background: var(--purple-normal);
	z-index: 1;
}
button:hover:after {
	width: 100%;
	left: 0;
}
button:after {
	border-radius: 25px;
	position: absolute;
	content: '';
	width: 0;
	height: 100%;
	top: 0;
	z-index: -1;
	transition: all 0.3s ease;
	background-color: var(--purple-normal-hover);
	right: 0;
}

p {
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
}

.login-with {
	text-align: center;
}
.login-with > p {
	margin-top: 35px;
}
.login-with i {
	margin-top: 12px;
	font-size: 2.4em;
	color: var(--white-light);
	cursor: pointer;
	transition: 0.3s;
}
.login-with i:hover {
	color: var(--purple-light);
}

@media screen and (max-width: 780px) {
	.card {
		width: 70%;
	}
}

@media only screen and (max-width: 580px) {
	.card {
		width: 90%;
		padding: 7% 4%;
		margin: 40px auto 0;
	}
	.card-header img {
		width: 20%;
	}
}
